body {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3C6997;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
      background: #094074;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #EFF1F3;
  }